<div class="park-form">
  <%= form_for @user_park, url: user_parks_path do |f| %>
    <div id="text_field">
      <%= f.text_field :name, :placeholder => "Name of Park" %>
      <%= f.text_field :address, :placeholder => "Address" %>
      <%= f.text_field :city, :placeholder => "City" %>
      <%= f.text_field :zip_code, :placeholder => "Zip Code" %>
      <%= f.text_field :description, :placeholder => "Description of Park" %>
    </div>
    <div id="picture-upload">
      <%= f.label :upload_a_picture %>
      <%= f.file_field :picture %>
    </div>
    <div id="features-boxes">
      <%- @amenities.each do |amenity| %>
        <%= amenity_check_box(amenity, 'user_park') %>
      <%- end %>
    </div>
    <div id="submit-park">
      <%= f.submit "Create Park" %>
    <% end %>
    </div>
</div>
