<tr>
  <td><%= user_park.name %></td>
  <td><%= user_park.address %></td>
  <td><%= user_park.city %></td>
  <td><%= user_park.zip_code %></td>
  <td><%= user_park.description %></td>
  <td><%= upvote_button(user_park) %>
  <td><%= downvote_button(user_park) %>
  <td><%= pluralize(user_park.upvotes.count, 'upvote') %></td>
  <td><%= pluralize(user_park.downvotes.count, 'downvote') %></td>
</tr>
