<%= @parks.each do |park| %>
  <p>Park name: <%= link_to park.name%></p>
  <p>Park address: <%= park.address %></p>
  <p>Park city: <%= park.city %></p>
  <p>Park zip_code: <%= park.zip_code %></p>
<% end %>

