<section class="container">
  <header class="header">
    <div class="logo"><%= link_to image_tag('paw_logo.png', alt: 'Dog Park Finder'), root_path %></div>
    <div class="intro-text">Find a dog park. Play with your best friend.</div>
  </header>
  <section class="sign_up">
    <%= link_to 'Sign Up', new_dog_lover_path %>
  </section>
    <section class="enter-search group">
      <%= form_for @search, url: search_path, method: :get do |f| %>
        <div class="search-criteria">
          <%= f.text_field :city, :placeholder => "Where Do You Want To Play?" %>
        </div>
        <%- @amenities.each do |amenity| %>
          <%= amenity_check_box(amenity, 'search') %>
        <%- end %>
        <button class="submit">
          <%= f.submit "Search" %>
        </button>
      <% end %>
    </section>
    <section class="dog-park guide">
    </section>
</section>

<footer class="footer">
  <div class="copyright">2013 - All Rights Reserved </div>
  <div class="apprentice.io">Product of thoughtbot's apprentice.io program</div>
</footer>
