<section class="container">
  <header class="header">
    <div class="logo"><%= link_to image_tag('paw_logo.png', alt: 'Dog Park Finder'), root_path %></div>
    <div class="intro-text">Find a dog park. Play with your best friend.</div>
  </header>
    <section class="options">
      <%= link_to 'Create a New Dog Park', new_user_park_path %>
    </section>
    <section class="enter-search group">
      <%= form_for @search, url: search_path, method: :get do |f| %>
        <div class="search-criteria">
          <%= f.text_field :address, :placeholder => "Where Do You Want To Play?" %>
        </div>
        <button class="submit">
          <%= f.submit "Search" %>
        </button>
      <% end %>
    </section>
    <section class="dog-park guide">
    </section>
</section>

<footer class="footer">
  <div class="copyright">2013 - All Rights Reserved </div>
  <div class="apprentice.io">Product of thoughtbot's apprentice.io program</div>
</footer>
